<h1>Welcome <%= current_user.username %></h1>
<p>You have just logged in the system!</p>

<% if current_user %>
    <%= button_to(
        "Log out",
        destroy_user_session_path,
        method: :delete,
        class: "btn btn-danger"
    )%>
    <%= link_to "Edit",
        edit_user_registration_path,
        class: "btn btn-warning"
    %>
<% else %>
    <%= link_to "Register",
        new_user_registration_path,
        class: "btn btn-info"
    %>
    <%= link_to "Sign In",
        new_user_session_path,
        class: "btn btn-light"
    %>

<% end %>



